@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Via-Appia";
  src:url("/via-appia.woff") format("woff"),
      url("/Via-Appia.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
      scroll-behavior: smooth;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Via-Appia", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
